.DS_Store
vendor/
.idea/

/conf/remote/app-online.properties

gs/examples/bookman/conf/
gs/examples/bookman/log/*.log
gs/examples/bookman/cov/covcounters.*
gs/examples/bookman/cov/covmeta.*
gs/examples/bookman/cov/cover.txt